* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  min-height      : 100vh;
  background-color: #fff;
}

.side-navbar {
  padding-top     : 20%;
  width           : 150px;
  height          : 100%;
  position        : fixed;
  margin-left     : -300px;
  background-color: #1590bc;
  transition      : 0.5s;
}

.side-navbar a {
  justify-content: center;
  text-align     : center;
  color          : #fff;
  text-decoration: none;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}


.active-nav {
  margin-left: 0;
}

/* for main section */

.contain {
  margin-left: 200px;
}

#menu-btn {
  background-color: #100901;
  color           : #fff;
  margin-left     : -62px;
}

